<div class="preloader" [class.hidden]="hidden" id="preloader">
  <div class="preloader-content">
    <div class="loader-container">
      <div class="logo-mark">
        <svg class="preloader-logo abroado-svg" viewBox="0 0 120 130" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
          <defs>
            <linearGradient id="mainGrad" gradientUnits="userSpaceOnUse" x1="17" y1="15" x2="103" y2="115">
              <stop offset="0%" stop-color="#30a9e3"/>
              <stop offset="100%" stop-color="#1771c1"/>
            </linearGradient>
          </defs>
          <g class="pulse-group" style="transform-origin: 60px 65px">
            <g class="rotate-outer">
              <polygon points="60,15 103,40 103,90 60,115 17,90 17,40" fill="url(#mainGrad)"/>
            </g>
            <g class="rotate-inner">
              <rect x="37" y="42" width="46" height="46" fill="#ffffff"/>
              <polygon points="37,42 83,42 37,88" fill="url(#mainGrad)"/>
            </g>
          </g>
        </svg>
      </div>
      <p class="preloader-label">Abroado</p>
    </div>
  </div>
</div>
